<div class="header">
  <img src="../../../assets/images/Pokemon.png" alt="pokemon" width="100" height="100" >
    <h4 class="trainer-name" id="trainer-name"></h4>
    <a href="/catalogue">Catalogue</a>
    <a href="/trainer">Trainer</a>
  </div>
