.header {
  overflow: hidden;
  border-radius: 5px;
}

.header a {
  font-weight: bold;
  float: right;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.header h4 {
  font-weight: bold;
  color: black;
  float: left;
  margin: 15px;
}

.header img {
  float: left;
  margin: 10px;
  width: 100px;
}
