<div class="container">
    <div class="welcome">
        <h1>Pokemon Catalogue Web App</h1>
    </div>
    <form #createForm="ngForm"  (ngSubmit)="onSubmit(createForm)">
        <fieldset class="mb-3">
            <label class="form-label" for="name">Trainer Name</label>
            <input class="form-control" type="text" 
            id="name" 
            name="name" 
            required
            minlength="2"
            [ngClass] = "{ 'is-valid':name.valid, 'is-invalid': (name.invalid && (name.dirty || name.touched))}"
            ngModel #name="ngModel"
            placeholder="Input your trainer name">
            <div *ngIf="name.errors && name.invalid && (name.dirty || name.touched)">
                <div class="invalid-feedback" *ngIf="name.errors.required">The name is required</div>
                <div class="invalid-feedback" *ngIf="name.errors.minlength">The name is too short</div>
            </div>
        </fieldset>
        
        <button class="btn" (click)="getName(name.value)">Go...</button>
    </form>
</div>