div.container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 1em;
  padding: 50px;
}
div.catalogue {
  text-align: center;
}
div.card {
  border-radius: 12px;
  background-color: dimgray;
  text-align: center;
  color: seashell;
  padding: 7px;
}
