<div class="catalogue">
  <h3> Check catalogue & details and add pokeon in your profile </h3>
  <div class="container">
     <div *ngFor='let pokemon of pokemons'>
       <div class="card" (click)='getDetails(pokemon.id)'>
         <img class="card-img-top mx-auto d-block"
           [src]="pokemon.image"
           style="width: 10em"
           onerror="this.onerror=null;this.src='../../assets/images/unknown.png';"
           [alt]="pokemon.name"
         />
         <div class="card-body">
           <h3 class="card-title" style="text-transform: capitalize;">
             {{ pokemon.name }}
           </h3>
         </div> 
         <div class="grid-types">
           <div *ngIf='pokemon.types.length > 1'>
             <h5>{{pokemon.types[0].type.name}}, {{pokemon.types[1].type.name}}</h5>
           </div>
           <div *ngIf='pokemon.types.length == 1'>
             <h5>{{pokemon.types[0].type.name}}</h5>
           </div>
         </div>
         <div>
            <button type="button" class="nes-btn is-error" (click)='releasePokemon(pokemon.name, pokemon.id)'>Release</button>
         </div>
       </div>
     </div>
   </div>
 </div>