.details {
  display: grid;
  justify-content: space-around;
  float: left;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5px;
  width: 50%;
  height: 500px;
}
.info-container {
  align-content: center;
  background-color: transparent;
}

.image-box {
  align-content: center;
  background: transparent;
}

.image-box img {
  width: 11em;
}
