<div class="details">
    <div class="nes-container with-title is-centered">
        <p class="title">Base {{pokemon.basexp}}</p>
        <div class="image-box nes-container">
            <img src="{{pokemon.image}}" onerror="this.onerror=null;this.src='../../assets/images/unknown.png';" alt="{{pokemon.name}}">
        </div>
        <div class="name-box">
            <h2 style="text-transform: capitalize;">{{pokemon.name}}</h2>
        
                <div *ngIf='pokemon.types.length > 1'>
                    <h5>{{pokemon.types[0].type.name}}, {{pokemon.types[1].type.name}}</h5>
                </div>
                <div *ngIf='pokemon.types.length == 1'>
                    <h5>{{pokemon.types[0].type.name}}</h5>
                </div>
            </div>
            <div class="nes-container with-title is-centered basestat-box">
                <p>Base Stats</p>
                <div *ngFor='let stat of pokemon.stats'>
                        <h5>{{stat.stat.name}}: {{stat.base_stat}}</h5>
                </div>
            </div>
        
        <div>
            <table class="mes-table nes-table is-bordered is-centered">
                    <tbody>
                        <tr>
                            <h4>Profile</h4>
                            <td>
                                <h4>Weight</h4>
                                <h5>{{pokemon.weight}}</h5>
                            </td>
                            <td>
                                <h4>Height</h4>
                                <h5>{{pokemon.height}}</h5>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <table class="abilities-table">
                <tbody>
                    <th>Abilities</th>
                    <tr>
                        <td *ngFor='let ability of pokemon.abilities'>
                            <h5>{{ability.ability.name}}</h5>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="moves-box">
            <div class="nes-select">
                <select class="nes-select">
                    <option selected>Show moves</option>
                    <option *ngFor='let move of pokemon.moves'>{{move.move.name}}</option>
                </select>
            </div>
        </div>
        <div>
            <button type="button" (click)="catchPokemon(pokemon.id)" style="text-transform: capitalize;">Catch {{pokemon.name}}</button>
        </div>
    </div>
       
