div.container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 1em;
  padding: 50px;
}

div.card {
  background-color: tomato;
  text-align: center;
  color: seashell;
  padding: 5px;
  border-radius: 8px;
}

div.navbtns {
  display: flex;
  justify-content: center;
}

.navbtns .nes-btn {
  margin: 20px;
  width: 20%;
}
